<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="../tab1/tab1.page.html">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Portada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="../tab2/tab2.page.html">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Angular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="../tab3/tab3.page.html">
      <ion-icon name="logo-xbox" colo></ion-icon>
      <ion-label>React</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="../tab4/tab4.page.html">
      <ion-icon name="logo-snapchat"></ion-icon>
      <ion-label>Vue</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab5" href="../tab5/tab5.page.html">
      <ion-icon name="logo-snapchat"></ion-icon>
      <ion-label>Node</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>



