<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="padding-left: 600px;">
      <ion-col size="12" class="ion-text-center">
        <ion-img src="./assets/img/Angular.jpg" alt="Logo de Angular" style="max-width: 500px; height: 500px; "></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <h2>Información sobre Angular:</h2>
        <p>Angular es un framework de desarrollo para aplicaciones web creado por Google. Utiliza TypeScript como su lenguaje principal y permite construir aplicaciones de una sola página (SPA) eficientes y sofisticadas. Su arquitectura basada en componentes ayuda a organizar el código de manera modular y facilita el desarrollo de aplicaciones complejas.</p>
      </ion-col>
      <ion-col size="6">
        <h2>Características Destacadas:</h2>
        <ion-list>
          <ion-item>
            <ion-label>Two-Way Data Binding</ion-label>
            <ion-note slot="end">Sincronización automática</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Dependency Injection</ion-label>
            <ion-note slot="end">Reutilización de código</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Directives</ion-label>
            <ion-note slot="end">Manipulación del DOM</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Angular CLI</ion-label>
            <ion-note slot="end">Herramientas de desarrollo</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Routing & Navigation</ion-label>
            <ion-note slot="end">Gestión de navegación</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
