<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Framewoks de 2024
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; justify-content: center; align-items: center;">
  <div style="display: flex; width: 100%;">

    <!-- Primer div con dos imágenes en vertical -->
    <div style="width: 33%; display: flex; flex-direction: column;">
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/Angular.jpg" alt="Imagen Superior" style="max-width: 120%; height: 100%;">
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/React.png" alt="Imagen Inferior" style="max-width: 120%; height: 100%">
      </div>
    </div>
    <!-- Los otros dos divs con una imagen cada uno -->
    <div style="width: 33%; display: flex; justify-content: center; align-items: center;">
      <img src="./assets/img/Portada.png" alt="Mejores Cantantes 2024 Cover" style="max-width: 100%; height: 100%;">
    </div>
    <div style="width: 33%; display: flex; flex-direction: column;">
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/vue.webp" alt="Imagen Superior" style="max-width: 111%; height: 100%;">
      </div>
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="./assets/img/node.jpg" alt="Imagen Inferior" style="max-width: 120%; height: 100%">
      </div>
    </div>
  </div>
</ion-content>